{% extends "collect/layouts/base.html" %}
{% load tabler_icons %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'collect/css/card.css' %}">
  <link rel="stylesheet" href="{% static 'collect/css/share.css' %}">
  <link rel="stylesheet" href="{% static 'collect/css/modal.css' %}">
{% endblock css %}
{% block js %}
  <script type="text/javascript"  src="{% static 'collect/js/modal.js' %}"></script>
  <script type="text/javascript"  src="{% static 'collect/js/share.js' %}"></script>
{% endblock js %}
{% block content %}
  {% include "collect/components/card.html" with user=user my_card=True %}
  <div class="share">
    <button onclick="userShare('{{ user.username }}')">{% tabler_icon "link" %}リンクを共有</button>
    <button onclick="openModal()">{% tabler_icon "qrcode" %} QRコードを表示</button>
  </div>
  <div class="modal">
    <div class="modal_content">
      <button onclick="closeModal()">{% tabler_icon "x" %}</button>
      {{ svg|safe }}
    </div>
  </div>
{% endblock content %}
