{% extends "collect/layouts/base.html" %}
{% block content %}
    <header>
        <h1>プライバシーポリシー</h1>
    </header>
    <section>
        <h2>個人情報の収集と利用について</h2>
        <p>当サイトは、「プライバシーの保護に関する法律」に基づき、個人情報の適切な取り扱いを行います。お問い合わせの際にご提供いただいた個人情報は、お問い合わせに対する回答や必要な情報をご連絡する目的以外には使用いたしません。</p>
    </section>
    <section>
        <h2>個人情報の第三者への提供について</h2>
        <p>提供された個人情報は、お客様の同意がある場合や法令に基づく場合を除き、第三者に提供することはありません。</p>
    </section>
    <section>
        <h2>個人情報の管理について</h2>
        <p>お客様からいただいた個人情報は、紛失、破壊、改ざん、漏洩などを防ぐため、適切に管理し、安全対策を講じております。</p>
    </section>
    <section>
        <h2>プライバシーポリシーの変更について</h2>
        <p>本ポリシーの内容は、法令の変更や当社の内部方針により変更されることがあります。重要な変更がある場合には、ウェブサイト上でお知らせいたします。</p>
    </section>
{% endblock content %}
