body {
  margin: 0;
}

.container {
  display: grid;
  grid-template:
    "header header" 108px
    "aside  main" 1fr
    "footer footer" 96px / 300px 1fr;
  min-height: 100vh;
  margin: 0 auto;
  gap: 24px 48px;
  width: min(110vh, 100vw);

  > header {
    grid-area: header;
  }

  > aside {
    grid-area: aside;
  }

  > main {
    grid-area: main;
  }

  > footer {
    grid-area: footer;
  }
}

.header {
  margin-top: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    gap: 8px;

    > img {
      object-fit: contain;
    }
  }

  > button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: #ccc3;
    }

    &:active {
      background-color: #ccc6;
    }
  }
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    padding: 0;
    margin: 0;

    > a,
    > button {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      gap: 8px;
      width: 100%;
      box-sizing: border-box;
      border: 0;
      background-color: transparent;
      border-radius: 16px;
      text-decoration: none;
      color: #000;
      transition: background-color 0.2s ease-in-out;
      font-size: 1rem;
      cursor: pointer;
    }

    &:hover > :is(a, button) {
      background-color: #f9f9ff;
    }

    &.active > :is(a, button) {
      background-color: #f4f4fd;
      pointer-events: none;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #eee;

  > p {
    margin: 0;

    > a {
      color: #6d97fa;
      text-decoration: none;
    }
  }
}

.card {
  background-color: #a7adfb33;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 36px;
  box-shadow: 0 0 16px #3331;
  padding: 48px;
  display: grid;
  grid-template:
    "avatar name edit" 2fr
    "avatar username ." 2fr
    ". profile profile" 5fr / 1fr 3fr auto;
  row-gap: 8px;
  column-gap: 36px;

  > .avatar {
    grid-area: avatar;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;

    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  > .display_name {
    grid-area: name;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
    align-self: self-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .username {
    grid-area: username;
    font-size: 1.2rem;
    margin: 0;
    opacity: 0.8;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .profile {
    grid-area: profile;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    > .bio {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin: 0 0 12px;
    }

    > p:has(> svg) {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > a {
        color: #6d97fa;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  > .edit {
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #0000000c;
    }

    &:active {
      background-color: #00000014;
    }

    > a {
      display: block;
      line-height: 1rem;
      padding: 12px;

      > svg {
        color: #333;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  > p {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;

    > input {
      border: solid 2px #eee;
      border-radius: 8px;
      padding: 12px 16px;
      outline: 0;
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #f9f9f9;
    }

    > span {
      font-size: 0.8rem;
      opacity: 0.8;
    }
  }

  > ul {
    margin: 0;
    padding-left: 8px;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;

    p + & {
      margin-top: -20px;
    }

    > li::before {
      content: "-";
      margin-right: 8px;
    }
  }

  > .button {
    font-size: 1.2em;
    border: 0;
    background-color: #b1cfff;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 16px;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #8bb6f3;
    }
  }
}
