{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
    </head>
    <body>
        <h1>ログイン</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}<div>{{ field }}</div>{% endfor %}
            <div>
                {% for error in form.non_field_errors %}
                    <div>
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
                <div>
                    <button type="submit">ログオン</button>
                </div>
            </div>
        </form>
        <a href="{% url 'index' %}">新規登録</a>
    </body>
</html>
