{% extends "collect/base.html" %}
{% block content %}
    <header>
        <h1>PerQS 利用規約</h1>
    </header>
    <section>
        <h2>1. 利用規約への同意</h2>
        <p>本アプリをダウンロードまたは使用することにより、本利用規約に同意したものとみなします。</p>
    </section>
    <section>
        <h2>2. サービス内容</h2>
        <p>本アプリは、ユーザー間での名刺交換をデジタル化するサービスを提供します。</p>
    </section>
    <section>
        <h2>3. アカウントについて</h2>
        <p>ユーザーは個人情報を正確に提供し、常に更新する責任があります。アカウントの安全を保つための責任もユーザーにあります。</p>
    </section>
    <section>
        <h2>4. 禁止行為</h2>
        <p>ユーザーは不正アクセス、スパム行為、他人の名刺情報の無断利用などを行ってはいけません。</p>
    </section>
    <section>
        <h2>5. 著作権</h2>
        <p>本アプリ上で提供されるコンテンツの著作権は運営チームまたはライセンスを所有する第三者に帰属します。</p>
    </section>
    <section>
        <h2>6. プライバシーポリシー</h2>
        <p>
            ユーザーの個人情報は、プライバシーポリシーに従って適切に取り扱われます。
            <a href="">プライバシーポリシーはこちら</a>。
        </p>
    </section>
    <section>
        <h2>7. 免責事項</h2>
        <p>サービスの中断、遅延、中止に関して、運営チームは責任を負いかねます。</p>
    </section>
    <section>
        <h2>8. 変更と通知</h2>
        <p>運営チームは本利用規約を任意に改正することができます。改定された場合、アプリ内またはウェブサイト上で通知します。</p>
    </section>
{% endblock content %}
