{% extends "collect/layouts/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'collect/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'collect/css/card_mini.css' %}">
    <link rel="stylesheet" href="{% static 'collect/css/friend.css' %}">
{% endblock css %}
{% block content %}
    <h1>フレンド一覧</h1>
    <div class="cards">
        {% if friends|length > 0 %}
            {% for friend in friends %}
                {% include "collect/components/card.html" with user=friend %}
            {% endfor %}
        {% else %}
            <p>フレンドはいません</p>
        {% endif %}
    </div>
    <h2>リクエスト</h2>
    <div class="cards">
        {% if friends_requests|length > 0 %}
            {% for request in friends_requests %}
                {% include "collect/components/request_card.html" with user=request %}
            {% endfor %}
        {% else %}
            <p>リクエストはありません</p>
        {% endif %}
    </div>
    <h2>リクエストを送ったユーザー</h2>
    <div class="cards">
        {% if friends_pending|length > 0 %}
            {% for pending in friends_pending %}
                {% include "collect/components/pending_card.html" with user=pending %}
            {% endfor %}
        {% else %}
            <p>リクエストを送ったユーザーはいません</p>
        {% endif %}
    </div>
{% endblock content %}
