{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'collect/css/layout.css' %}">
        {% block css %}
        {% endblock css %}
        <title>PerQS</title>
        <meta name="description" content="Personal Quick Stock">
        <meta name="keywords" content="perqs">
        <script type="text/javascript" src="{% static "collect/js/logout.js" %}"></script>
        {% block js %}
        {% endblock js %}
    </head>
    <body>
        <div class="container">
            {% include "collect/components/sidebar.html" %}
            {% include "collect/components/header.html" %}
            <main>
                {% block content %}
                {% endblock content %}
            </main>
            {% include "collect/components/footer.html" %}
        </div>
    </body>
</html>
